<div class="container">
    <p-toolbar>
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="productos" styleClass="p-datatable-gridlines" [rows]='10' [paginator]='true'  [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
    [globalFilterFields]="['name', 'price', 'category']" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" >
        
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Gestión de Productos</h5>
                <span class="p-input-icon-right">
                    <i class="pi pi-search bg-dark"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..."  class="  bg-dark"/>
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">
                    {{col.header}} 
                    <p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
                <th colspan="3">Descripción</th>
                <th colspan="3">Imagen</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-producto>
            <tr>
                <td>
                    <p-tableCheckbox [value]="producto"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of cols">
                        {{producto[col.field]}}
                </td>
                <td colspan="3">{{producto.description}}</td>
                <td colspan="3"><img src="../../assets/images/{{producto.img}}"  width="200" class="p-shadow-4"></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(producto)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(producto)"></button>
                </td>
            </tr>    
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Nuevo Producto" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
       <!--<img src="../../assets/images/{{producto.img}}" [alt]="producto.img" class="producto-img" *ngIf="producto.img">--> 
        <div class="p-field">
            <label for="name">Nombre</label>
            <input type="text" pInputText name="name" [(ngModel)]="producto.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !producto.name">El nombre es obligatorio.</small>
        </div>
        <div class="p-field">
            <label for="img">Imagen</label>
            <input type="text" pInputText name="img" [(ngModel)]="producto.img" required/>
            <small class="p-invalid" *ngIf="submitted && !producto.img">El nombre de la imagen es obligatorio.</small>
        </div>
        <div class="p-field">
            <label for="price">Precio</label>
            <input type="text" pInputText name="price" [(ngModel)]="producto.price" required />
            <small class="p-invalid" *ngIf="submitted && !producto.price">El nombre precio es obligatorio.</small>
        </div>


        <div class="p-field">
            <label for="description">Descripción</label>
            <textarea name="description" pInputTextarea [(ngModel)]="producto.description" required rows="3" cols="20"></textarea>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Categoría</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Gel" [(ngModel)]="producto.category"></p-radioButton>
                    <label for="category1">Gel</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Champú" [(ngModel)]="producto.category"></p-radioButton>
                    <label for="category2">Champú</label>
                </div>
            </div>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Favorito</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="destacable1" name="fav" value=true [(ngModel)]="producto.fav"></p-radioButton>
                    <label for="destacable1">Sí</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="destacable2" name="fav" value=false [(ngModel)]="producto.fav"></p-radioButton>
                    <label for="destacable2">No</label>
                </div>
            </div>
        </div>

    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct(producto)"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>