<div class="titulo">
    <h1>Mi historia</h1>
</div>

<div class="row">

    <div class="col-12 col-md-6" id="cont-1">
        <img src="../../assets/images/Jabones-artesanales-2-1100x572.jpg">
    </div>

    <div class="col-12 col-md-5 "  id="cont-2">
        <h1>Lorem, ipsum.</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, nesciunt!</h3>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>                        
    </div>

</div>

<div class="row">

    <div class="col-12 col-md-6" id="cont-3">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>
        
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>
            
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>
        
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>
            
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Excepturi sint iusto iure voluptatibus consectetur cum nisi vel nostrum temporibus quod. Illo laboriosam ad ea modi eaque mollitia dicta, eligendi voluptatem.
        </p>
    </div>

    <div class="col-12 col-md-5" id="cont-4">
        <img src="../../assets/images/Jabones-artesanales-2-1100x572.jpg">
    </div>

</div>

