.titulo{
    margin-top: 5%;
    height: 100px;
}

.titulo h1{
    color: blanchedalmond;
    padding-left: 8%;
    padding-top: 10vh;
    font-size: 4em;
}

#cont-1{
    margin-top: 15%;
    margin-left: 3% ;
    
}

#cont-2{
    color: whitesmoke;
    margin-left:4%;
    max-width: 90%;
    margin-top: 2%;

}

#cont-3{
    color: whitesmoke;
    margin-left: 4%;
    max-width: 90%;

}

#cont-4{
    margin-left: 3% ;
    margin-bottom: 20%;

}

img{
    border-radius: 2%;
    box-shadow: 20px 20px 20px;
    width: 90%;
}

@media (min-width:560px){
    .titulo h1{
        padding-top: 15vh;
    }

    #cont-1{
        margin-top: 10%;
    }
}

@media (min-width:768px){

    .titulo h1{
        font-size: 5em;
        padding-top: 8vh ;
    }
    

    #cont-1{
        margin-top: 20%;
        margin-left: 4% ;
        
    }
    
    #cont-2{
        margin-top: 6%;
        margin-left: 0%;
    
    }
    
    #cont-3{
        margin-left: 3%;
        margin-bottom: 8%;
    
    }
    
    #cont-4{
        margin-top: 25%;
    }
    
    img{
        max-width: 400px;
    }
}

@media (min-width: 812px){

    .titulo h1{
        padding-top:12vh ;
    }

    #cont-1{
        margin-top: 22%;
        margin-left: 5%;
    }

    
    #cont-2{
        margin-top: 8%;    
    }

    img{
        max-width: 600px;
    }
}

@media (min-width:992px){

    #cont-1{
        margin-top: 10%;
    }
    #cont-2{
        margin-left: 0%;
    }

    #cont-3{
        margin-bottom: 3%;
    }
    
    #cont-4{
        margin-top: 15%;
    }
    
    img{
        max-width:600px;
    }

    
}

@media (min-width:1200px){
        
    #cont-3{
        margin-top: 5%;
        margin-bottom: 5%;
    
    }
    
    #cont-4{
        margin-top: 10%;
    }
    
}



