.cont{
    margin-top: 6%;
    background-image: url('../../assets/images/Jabones-artesanales-2-1100x572.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height:650px;
}

#titulo{
    color: white;
    height: 650px;
    background-color: #343a40b9;
    text-align: center;
    left: 0;

}
#titulo h1 {
    font-size: 6em;
    padding-top: 15%;
}

.product-item{
    margin-left: 2%;

}

.card{
    background-color: gray;
    color: whitesmoke;
    font-family: 'Marck Script', cursive;

}

.card-text{
    font-size: 1.2em;
}

.card-text h4, h6{
    text-align: center;
    margin-top: 3%;
}

.card-text p{
    margin-left: 5%;
}


