.cont{
    margin-top: 6%;
    background-image: url('../../assets/images/Jabones-artesanales-2-1100x572.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height:100vh;
}

#titulo{

    height: 100vh;
    background-color: #343a40b9;
    text-align: center;
    left: 0;
    


}
#titulo h1 {
    font-size: 6em;
    padding-top: 35vh;
    color: blanchedalmond;
}

.product-item{
    margin-left: 2%;
}

.card{
    background-color: #3f464d;
    color: whitesmoke;
    font-family: 'Marck Script', cursive;
}

.card-text{
    font-size: 1.2em;
}

.card-text h4, h6{
    text-align: center;
}

.card-text h4{
    margin-top: 3%;
   
}

.card-text p{
    margin-left: 5%;
}



